 .u-section-1 {
  background-image: none;
  min-height: 1204px;
}

.u-section-1 .u-shape-1 {
  width: 481px;
  height: 400px;
  margin: 37px auto 0 calc(((100% - 1140px) / 2) + -54px);
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 383px);
  height: 393px;
  margin: 364px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -1059px auto 60px;
}

.u-section-1 .u-image-1 {
  min-height: 546px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dftg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 37px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-image-2 {
  min-height: 608px;
  background-image: url("images/pexels-lara-jameson-8899020.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px 10px 0;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 0 10px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 20px 60px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-image-3 {
  min-height: 393px;
  background-image: url("images/esg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 236px);
  }

  .u-section-1 .u-shape-2 {
    width: 463px;
    margin-right: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 37px;
  }

  .u-section-1 .u-image-3 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2271px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 30px;
    margin-left: calc(((100% - 720px) / 2) + -17px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 279px;
    margin-right: calc(((100% - 720px) / 2) + -38px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -994px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    min-height: 689px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2000px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 316px;
    margin-right: calc(((100% - 540px) / 2) + -38px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1039px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    min-height: 517px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
    margin-right: 45px;
  }

  .u-section-1 .u-image-3 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1697px;
  }

  .u-section-1 .u-shape-1 {
    width: 390px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 390px;
    margin-top: 319px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1043px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -20px;
    margin-right: 0;
    margin-bottom: -12px;
  }

  .u-section-1 .u-image-3 {
    min-height: 234px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 775px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-2 .u-image-1 {
  min-height: 315px;
  background-image: url("images/271598478-0.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 340px;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-2 .u-text-1 {
  margin: 48px 60px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  margin: 22px 60px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: -56px 103px 0 auto;
  padding: 7px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 43px auto 0 60px;
  padding: 10px 47px 10px 46px;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  text-align: left;
  margin: 0 300px 0 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 39px 60px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 300;
  margin: 20px 60px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0 60px;
  padding: 10px 12px 10px 11px;
}

.u-section-2 .u-text-6 {
  font-weight: 300;
  text-align: left;
  margin: 9px 154px 0 60px;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-image: url("images/4956b004e6fbe4f26776b89cd3045ce99eb804e79a88ecb7ef045cde504e0077151c27b7a6c4b61fdb6563008f4bd5a6ba0e04b64122eb89e45f95_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 3px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    padding: 7px 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 260px;
    margin-left: 0;
    width: 206px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    width: 206px;
    margin-right: 104px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -65px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 46px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 70px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 379px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(192, 192, 192) !important;
  margin: 15px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 300;
  margin: 32px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 379px;
  background-image: url("images/pexels-vlada-karpovich-4668362.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(192, 192, 192) !important;
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 368px;
  background-image: url("images/CircularEconomyLogo3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 368px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 15px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 300;
  margin: 32px 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 368px;
  background-image: url("images/CSR.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-image-1 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-3 .u-image-2 {
    min-height: 303px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 303px;
  }

  .u-section-3 .u-image-3 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2285px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 329px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 329px;
  }
}